In [ ]:
{
    1: "mauritius",
    2: "madagascar",
    3: "seychelles"
}